<nav class="navbar navbar-expand navbar-dark bg-secondary">
  <div class="container-fluid d-flex">
    <a class="navbar-brand flex-grow-1" href="#">Blog With A CMS</a>
    <div
      class="flex-grow-1 d-none d-sm-flex justify-content-between"
      id="navbarSupportedContent"
    >
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
      </form>
      <button type="button" class="btn btn-danger">Signup/Login</button>
    </div>
  </div>
</nav>

