<nav class="navbar navbar-expand navbar-dark bg-secondary">
  <div class="container-fluid d-flex">
    <button type="button" class="btn btn-danger mx-2 d-block d-sm-none" (click)="openNav()"><i class="fas fa-bars"></i></button>
    <a class="navbar-brand flex-grow-1" href="#">Blog With A CMS</a>
    <div
      class="flex-grow-1 d-none d-sm-flex justify-content-between"
      id="navbarSupportedContent"
    >
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
      </form>
      <button type="button" class="btn btn-danger">Signup/Login</button>
    </div>
  </div>
</nav>
<div id="mySidenav" class="sidenav bg-secondary">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>
